<%= form_for Todo.new do |f| %>
  <%= f.text_field :description, class: "span6" %>
<% end %>
<div style="overflow-x: scroll">
  <table>
    <tr>
      <% @projects.each do |project| %>
      <td id="project_<%= project.id %>">
        <h2><%= project.description %></h2>
        <div id="parent_<%= project.id %>">
          <ul class="unstyled" id="parent_<%= project.id %>_children">
            <% project.children.each do |child| %>
              <%= render 'todo', todo: child %>
            <% end %>
            <%= render 'form_ajax', todo: Todo.new(parent_id: project.id) %>
          </ul>
        </div>
      </td>
      <% end %>
    </tr>
  </table>
</div>
